In [55]:
#Q1: Create a list of student

list_of_student = ["Bash", "Tope", "Michael", "Vivian", "Kayode", "Louis"]
print(list_of_student)

['Bash', 'Tope', 'Michael', 'Vivian', 'Kayode', 'Louis']

In [4]:
#Q2: Convert this list into a set and display unique names.

list_of_unique_student = set(list_of_student)
print(list_of_unique_student)

{'Bash', 'Kayode', 'Louis', 'Tope', 'Michael', 'Vivian'}

In [52]:
#Q3: Create a dictionary to store student names as keys and their scores (as tuples) as values

student_info = {
    "Bash": (95, 100),
    "Tope": (89, 100),
    "Michael": (88, 70),
    "Vivian": (87, 92),
    "Kayode": (86, 91),
    "Louis": (85, 89)
}
print(student_info)

{'Bash': (95, 100), 'Tope': (89, 100), 'Michael': (88, 70), 'Vivian': (87, 92), 'Kayode': (86, 91), 'Louis': (85, 89)}

In [53]:
#Q4: Loop through the dictionary to
#4a: Print each student's average grade.

for student_name, student_score in student_info.items():
    average = sum(student_score) /len(student_score)
    print (f" {student_name}: {student_score} the average is -------> {average}")

 Bash: (95, 100) the average is -------> 97.5
 Tope: (89, 100) the average is -------> 94.5
 Michael: (88, 70) the average is -------> 79.0
 Vivian: (87, 92) the average is -------> 89.5
 Kayode: (86, 91) the average is -------> 88.5
 Louis: (85, 89) the average is -------> 87.0

In [54]:
#4b: Convert each score tuple to a list and append a new test score.

updated_student_score = {}
print("Updated score with new test scores added for:\n ")
for student_name, student_score in student_info.items():
    student_score_list = list(student_score)
    student_score_list.append(95)
    updated_student_score = student_score_list
    print (f" {student_name}: {updated_student_score}")

Updated score with new test scores added for:

 Bash: [95, 100, 95]
 Tope: [89, 100, 95]
 Michael: [88, 70, 95]
 Vivian: [87, 92, 95]
 Kayode: [86, 91, 95]
 Louis: [85, 89, 95]

In [50]:
#Q5: Check if a student exists in the dictionary using in.

student_to_check = input("Enter the student name: ")
if student_to_check in student_info:
    print(f"\n{student_to_check} is in the gradebook.")
else:
    print(f"\n{student_to_check} is not in the gradebook.")

Enter the student name:  Bimbo

Bimbo is not in the gradebook.