In [3]:
#Q1: Create a list of student
list_of_student = ["Bash", "Tope", "Michael", "Vivian", "Kayode", "Louis"]
print(list_of_student)

['Bash', 'Tope', 'Michael', 'Vivian', 'Kayode', 'Louis']

In [4]:
#Q2: Convert this list into a set and display unique names.
list_of_unique_student = set(list_of_student)
print(list_of_unique_student)

{'Bash', 'Kayode', 'Louis', 'Tope', 'Michael', 'Vivian'}

In [16]:
#Q3: Create a dictionary to store student names as keys and their scores (as tuples) as values
student_info = {
    "Bash": (90, 80),
    "Tope": (89, 100),
    "Michael": (88, 70),
    "Vivian": (87, 92),
    "Kayode": (86, 91),
    "Louis": (85, 89)
}
print(student_info)

{'Bash': (90, 80), 'Tope': (89, 100), 'Michael': (88, 70), 'Vivian': (87, 92), 'Kayode': (86, 91), 'Louis': (85, 89)}

In [23]:
#Q4: Loop through the dictionary to
#a:Print each student's average grade.
for student_name, student_score in student_info.items():
    average = sum(student_score) /len(student_score)
    print (f" {student_name}: {student_score} the average is -------> {average}")

 Bash: (90, 80) the average is -------> 85.0
 Tope: (89, 100) the average is -------> 94.5
 Michael: (88, 70) the average is -------> 79.0
 Vivian: (87, 92) the average is -------> 89.5
 Kayode: (86, 91) the average is -------> 88.5
 Louis: (85, 89) the average is -------> 87.0

In [27]:
# Convert each score tuple to a list and append a new test score.
Updated_student_score = {}
for student_name, student_score in student_info.items():
    student_score_list = list(student_score)
    student_score_list.append(95)
    Updated_student_score = student_score_list
    print(Updated_student_score)

[90, 80, 95]
[89, 100, 95]
[88, 70, 95]
[87, 92, 95]
[86, 91, 95]
[85, 89, 95]