In [7]:
# print ("THIS IS WEEK 1 CLASS ACTIVITY")


username = input("Please enter your username")

daily_budget = float(input("Enter your daily budget for the day"))

print ("Enter the amount you spend on each of the three categories for the day")

expense1 = float(input("Record the amount you spend on food"))
expense2 = float(input("Record the amount you spend on traveling"))
expense3 = float(input("Record the amount you spend on others"))

Total = float(expense1 + expense2 + expense3)
Average = float(Total/3)

print(f" the total daily expenses for today is {Total}")
print(f" the average daily expenses for today is {Average}")

if Total >= daily_budget:
    print("you have exceed your daily limit")

else:
    print("you have not spend more than the daily budget")

THIS IS WEEK 1 CLASS ACTIVITY

Please enter your username Bashir Mohammed
Enter your daily budget for the day 100

Enter the amount you spend on each of the three categories for the day

Record the amount you spend on food 40.5
Record the amount you spend on traveling 25.89
Record the amount you spend on others 18.12

 the total daily expenses for today is 84.51
 the average daily expenses for today is 28.17
you have not spend more than the daily budget

In [1]:
a=[1,2,3,1]
print(set(a))

{1, 2, 3}

In [2]:
a = "123"
b = int(a)
print (b)

123

TypeError: 'tuple' object does not support item assignment

In [5]:
students = ["Alice", "Bob", "Charlie", "Alice"] 

print(len(set(students)))

3