In [1]:
for x in range(10):
    print (x*2)

0
2
4
6
8
10
12
14
16
18

In [2]:
for x in range(1,11):
    if x%2 == 0:
        print (x, "Even")
    else:
        print (x, "Odd")

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even

In [6]:
'''
    for x in range(1,11):
    if x%2 == 0:
        print (x, "Even")
    else:
        print (x, "Odd")
'''
print("This is after list comprehension")
l2 =[]
for x in range (11):
    x=x*2
    l2.append(x)
print(l2)
print("This is after list comprehension")    

#list comprehension
l1 = [x*2 for x in range(11)] #EFIIIIC
print(l1)

This is after list comprehension
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
This is after list comprehension
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#square of number 0 - 10
l3 = [x**2 for x in range(11)] #EFIIIIC
print(l3)

l3 =[]
for x in range (11):
    x=x**2
    l3.append(x)
print ("using for loop")
print (l3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
using for loop
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#print the odd and even values from the list
l5 = [x**2 for x in range(11) if x%2 == 0] #EFIIIIC
print("Even Values")
print(l5)

l5 = [x**2 for x in range(11) if x%2 == 1] #EFIIIIC
print("Odd Values")
print(l5)

Even Values
[0, 4, 16, 36, 64, 100]
Odd Values
[1, 9, 25, 49, 81]

In [12]:
#Using BREAK in control structure
for i in "Banana":
    if i=="n":
        print ("Found a n")
        break
    else:
        print (i)

B
a
Found a n

In [17]:
#Using CONTINUE in control structure
for i in "Banana":
    if i=="n":
        print ("Found a n")
        continue
        print("I am still here")
    else:
        print (i)

B
a
Found a n
a
Found a n
a

In [18]:
#Dictionary
dict1 = {"name":"James Bond","age":65, "Hero":"Daniel Craig", "Salary":500000}
print(dict1)

{'name': 'James Bond', 'age': 65, 'Hero': 'Daniel Craig', 'Salary': 500000}

In [19]:
print(dict1.get("name"))

James Bond

In [22]:
print(dict1["Salary"])

500000

In [23]:
#Using ENUMERATE in dictionary
for k,v in enumerate(dict1):
    print (k, "---", v)

0 --- name
1 --- age
2 --- Hero
3 --- Salary

In [25]:
for k,v in enumerate(dict1.items()):
    print (k, "---", v)

print("---------")

for k,v in dict1.items():
    print (k, "---", v)

0 --- ('name', 'James Bond')
1 --- ('age', 65)
2 --- ('Hero', 'Daniel Craig')
3 --- ('Salary', 500000)
---------
name --- James Bond
age --- 65
Hero --- Daniel Craig
Salary --- 500000

In [28]:
#SET
s1 ={1,2,3,3}
print (s1)

s2 ={3,4,5,6}
print (s2)

{1, 2, 3}
{3, 4, 5, 6}

In [29]:
print (s1 | s2) #union

{1, 2, 3, 4, 5, 6}

In [30]:
print (s1 & s2) #interset

{3}

In [31]:
print (s1)
print (s1)
print (s1 - s2)
print (s2 - s1)

{1, 2, 3}
{1, 2, 3}
{1, 2}
{4, 5, 6}

In [34]:
print (s1)
s1.add(8)
print(s1)
s1.remove(2)
print(s1)

{8, 1, 2, 3}
{8, 1, 2, 3}
{8, 1, 3}

In [35]:
t = (1,2,3,4)
print(t)

(1, 2, 3, 4)

In [36]:
#t.add(7)
#print(t)

AttributeError: 'tuple' object has no attribute 'add'